<article>
    <h1>#: _._resx.core.notFound #&nbsp;&nbsp;<span id="frown">:(</span></h1>
    <div>
      <p>Sorry, but the page you were trying to view does not exist.</p><p>It looks like this was the result of either:</p>                
        <ul><li>a mistyped address</li><li>an out-of-date link</li></ul>
    </div>
    <div>
        <div>
            <div>
                <h3>Other things to try:</h3>
                <ul>
                    <li>#: _._resx.core.search #  <b><span>#: location.host #</span></b>:
                        <br/>                                 
                        <input class="input-sm" type="text" size="40" name="q" id="goog-wm-qt" value="">
                        <input type="submit" class="btn" value="Google Search" id="goog-wm-sb" 
                            onclick="javascript: window.location = 'http://www.google.com/search?q=site:' + location.host + ' ' + window.encodeURIComponent($('\\#goog-wm-qt').val());">    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>