<article>
    <h1>#: _._resx.core.notFound #&nbsp;&nbsp;<span id="frown">:(</span></h1>
    <div>
      <p>Žao nam je, ali ta stranica ne postoji.</p><p>Izgleda da se ovo desilo kao rezultat:</p>                
        <ul><li>krive adrese</li><li>zastarjelog linka</li></ul>
    </div>
    <div>
        <div>
            <div>
                <h3>Možda možete pokušati:</h3>
                <ul>
                    <li>#: _._resx.core.search #  <b><span>#: location.host #</span></b>:
                        <br/>                                 
                        <input class="input-sm" type="text" size="40" name="q" id="goog-wm-qt" value="">
                        <input type="submit" class="btn" value="Google Pretraga" id="goog-wm-sb" 
                            onclick="javascript: window.location = 'http://www.google.com/search?q=site:' + location.host + ' ' + window.encodeURIComponent($('\\#goog-wm-qt').val());">    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>