<nav class="navbar navbar-default">
    # if (fluid) { #
    <div class="container-fluid" id="navbar-header">
    # } else { #
    <div class="container" id="navbar-header">
    # } #
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="\\#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand navbar-default" id="brand" href="#: home.url #" title="#: home.title #">
                #= home.nav #
            </a>

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul id="nav-links-main" class="nav navbar-nav">
                    # for (var i = 0; i < links.length; i++) { #
                    <li id="#: links[i].id #"><a href="#: links[i].url #" title="#: links[i].title #">#= links[i].nav #</a></li>
                    # } #
                </ul>
            </div>

            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="lang" popover href="\\#" style="padding-right: 0;">
                            <span class="fa-border">#= lang #</span>
                        </a>
                    </li>
                    <li>
                        <a id="cog" popover href="\\#">
                            <span class="fa fa-border fa-cog"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="content" class="container"></div>

<div id="footer">
    <div class="container">
        <p class="text-muted">
            SPA | RequireJS | Bootstrap | KendoUI 
        </p>
    </div>
</div>